<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BASE</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

</head>
<body>
    <nav class = 'navbar navbar-default navbar-static-top'>
          <div class="container">
              <ul class = "nav navbar-nav">
                    <li><a class="navbar-brand" href = "{% url 'index' %}">WELCOME TO CRM APLICATION!</a></li>
                    <li><a class="navbar-link" href = "{% url 'admin:index' %}">Admin</a></li>
                    <li><a class="navbar-link" href = "{% url 'register' %}">REGISTER</a></li>
              </ul>
          </div>
    </nav>
        <div class = 'container'>
            {% block body-block %}
            {%endblock %}
        </div>

</body>
</html>