{% extends "taskpy_app/base.html" %}
{% load static %}
{% block body-block %}

    <div class="jumbotron">
        {% if registered %}
            <h1> Thank you for registering!</h1>
        {% else %}
            <h3>Fill out the form:</h3>
            <form enctype="multipart/form-data" method="post" action="">
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ profile_form.as_p }}
                <input type=submit name="" value="register">
            </form>
        {% endif %}
    </div>
{% endblock body-block %}
